TestWebService/TestSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="testwebservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestSDLFile" targetNamespace="testwebservice">
    <wsdl:types><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="testwebservice">
	<xsd:complexType name="LocalTemp">
		<xsd:sequence>
			<xsd:element name="header" type="xsd:string"></xsd:element>
			<xsd:element name="Temp" type="xsd:string"></xsd:element>
			<xsd:element name="Humd" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="TempResult" type="tns:LocalTemp"></xsd:element></xsd:schema></wsdl:types>
  <wsdl:message name="GetWeatherRequest">
        <wsdl:part name="Input" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="GetWeatherResponse">        <wsdl:part name="Result" element="tns:TempResult"></wsdl:part>  </wsdl:message>
  <wsdl:portType name="TestSDLFile">
    <wsdl:operation name="GetWeather">
      <wsdl:output message="tns:GetWeatherResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestSDLFileSOAP" type="tns:TestSDLFile">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="testwebservice/NewOperation"/>
      <wsdl:input>
        <soap:body namespace="testwebservice" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="testwebservice" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestSDLFile">
    <wsdl:port binding="tns:TestSDLFileSOAP" name="TestSDLFileSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
